# NodeJS
/node_modules

# Miscellaneous
.DS_Store
*.pem

# Debug logs
*.log
pnpm-debug.log*

# IDEs and editors
.c9/
.classpath
/.idea
*.launch
.project
.settings/
*.sublime-workspace

# VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# Runtime data
*.pid
*.pid.lock
pids
*.seed

# Temp files
.temp
.tmp

# NodeJS diagnostics reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
